.change-password-page {
    background-color: #f9f9f9;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.change-password-page h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
}

.change-password-input-row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.change-password-label-container {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.change-password-page label {
    font-size: 18px;
    color: #444;
    margin-bottom: 0;
    white-space: nowrap;
    width: 200px;
}

.change-password-page input[type="password"] {
    flex-grow: 1;
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.change-password-submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto 0;
}

.change-password-submit-button:hover {
    background-color: #45a049;
}
