/* Container for the page layout */
.create-auction-container {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #ccff99;
    padding: 20px;
  }
  
  
  
  /* Form Styles */
  .auction-form {
    width: 80%;
    padding-left: 50px;
  }
  
  .auction-form h2 {
    color: #ff6600;
  }
  
  .auction-form form {
    display: flex;
    flex-direction: column;
  }
  
  .auction-form label {
    margin-top: 15px;
    font-weight: bold;
  }
  
  .auction-form input,
  .auction-form select,
  .auction-form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .auction-form button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ff9933;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width:100px;
  }
  
  .auction-form button:hover {
    background-color: #ff6600;
  }
  .auction-form textare {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width:300px;
    Height:500px;
  }
  