.registrationform-container{
    padding-top: 60px;
    background-color: #99D54F;
   
}

.registrationform-container h1{
    text-align: center;
}

.registrationform{
    background-color: red;

}

.registrationform text{
    display: block;
}